* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  max-width: 400px;
  border: 2px #000 solid;
  border-radius: 1rem;
  margin: 3rem auto;
  padding: 1.3rem;
}

.screen {
  min-height: 9.4rem;
  padding: 1.3rem;
  border: 2px #000 solid;
  border-radius: 5px;
  margin-bottom: 1.3rem;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.btn {
  padding: 1.3rem;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1.3rem;
}

.btn-zero {
  grid-column: 1 / span 2;
  border-radius: 5px;
}
